#a{
    background-color:aqua;
    width: 150px;
    height: 400px;
    margin-left: 300px;
}

#b{
    background-color:rgb(92, 128, 128);
    width: 150px;
    height: 400px;
    margin-left: 470px;
    margin-top: -399px;
    
}
#c{
    background-color:rgb(84, 89, 161);
    width: 150px;
    height: 400px;
    margin-left: 640px;
    margin-top: -399px;
    
}
#d{
    background-color:rgb(195, 217, 235);
    width: 150px;
    height: 400px;
    margin-left: 810px;
    margin-top: -399px;
    
}
#e{
    background-color:rgb(180, 104, 196);
    width: 150px;
    height: 400px;
    margin-left: 980px;
    margin-top: -399px;
    
}
h1{
    text-align: center;
    font-family: cursive;
}